body {
    margin: 0;
    display: flex;
    justify-content: flex-start;
    font-family: 'Raleway', sans-serif;
}

section {
    width: 50vw;
}

.headline {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

h1 {
    margin: 0 0 0 -200px;
    font-size: 100px;
    letter-spacing: 5px;
    font-weight: bold;
}

.projects {
    display: flex;
    overflow: hidden;
    height: 100vh;
    width: 100%;
    backface-visibility: hidden;
    will-change: overflow;
}

.scrollable {
    overflow: auto;
    height: auto;
    padding: .5rem;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}

.about, .projects {
    width: 80%;
}

h2 {
    margin-bottom: 80px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

img {
    height: 20vh;
    border: 1px solid grey;
    padding: 2px;
}

.space-top {
    height: 100vh;
}

.space-bottom {
    height: 20vh;
}
