html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.landing {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing * {
  width: 33.33%;
}

.name * {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.name-text {
  font-size: 1.5em;
  letter-spacing: 0.5em;
}

.landing-image * {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.nav * {
  letter-spacing: 0.5em;
  margin: 5px 0 5px 8px;
}

.logos {
  width: 100%;
  margin-left: 1px;
}

.logos img {
  width: 30px;
  margin: 0;
}

.email {
  letter-spacing: 0.1em;
  margin-left: -200px;
  transition: all 400ms ease-in-out;
  z-index: -1;
  position: relative;
}

.email-open {
  margin-left: 0.5em;
  color: black;
}

.projects {
  height: auto;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8%;
}

.project-card {
  width: 80%;
  margin-bottom: 8%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.project-image img {
  width: 300px;
  height: auto;
  border: 1px solid black;
  padding: 5px;
}

.project-info {
  margin-left: 2%;
}

.project-info > a {
  font-weight: 800;
  font-size: 1.2em;
  letter-spacing: 0.5em;
}

.logo {
  width: 30px;
  height: auto;
  margin-right: 20px;
}

.about {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.about-image {
  width: 30%;
  margin-left: 5%;
  height: auto;
}

.about-image * {
  width: 100%;
}

.about-title {
  font-size: 1.5em;
  letter-spacing: 0.5em;
}

.about-info {
  width: 40%;
  margin-left: 10%;
}

.about-paragraph {
  letter-spacing: 0.1em;
  font-size: 1em;
}

span {
  font-weight: bold;
}

footer {
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer-nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer-nav * {
  margin-right: 2%;
}

footer img {
  width: 30px;
  height: auto;
}
